main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

 h1 {
  text-align: center;
}

.animal {
  border: 1px solid darkgreen;
  padding: 1vw;
  margin-bottom: 1vw;
  width: 80%;
}

.animal h3 {
  font-size: 4vw;
}

.animal img {
  width: 100%;
}

.animal p {
  font-size: 13px;
  margin: auto;
  display: inline-block;
  margin-bottom: .5rem;
}

.animal p:last-of-type {
  padding-left: 1rem;
  cursor: pointer;
}

.animal p:last-of-type:hover {
  color: maroon;
}

.modal-body img {
  max-width: 100%;
}

